
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
<h1><span class="fa-stack fa-lg">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
  </span> <h2>
    We build technologies that help people connect with friends and family, find communities, and grow businesses.
    </h2></h1>

   
     <br>          ---Developed By                    
     <br>        ----Mudit Tiwari
</p>
</body>
</html>