
<div style="text-align: center;border:1px solid black;">
   
<h1>Sign Up</h1>

<form action="/users/create" method="POST">
 <div >
    <input style="width: 350px;border-radius: 6px;height: 50px; margin-top: 20px;" type="text" name="name" placeholder="Your Name" required>
    </div>
    <div>
    <input style="width: 350px;border-radius: 6px;height: 50px; margin-top: 20px;" type="email" name="email" placeholder="Your Email" required>
    </div>
    <div >
    <input style="width: 350px;border-radius: 6px;height: 50px; margin-top: 20px;" type="password" name="password" placeholder="Password" required>
    </div>
    <div >
    <input style="width: 350px;border-radius: 6px;height: 50px; margin-top: 20px;" type="password" name="confirm_password" placeholder="Confirm Password" required>
    </div>
    <div >
    <input style="color: white;width: 120px;border-radius: 6px;height: 50px;background-color: #1877f2;
    border: none;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;margin-top: 20px;" type="submit" value="SignUp">
    </div>
    </div>

</form>

<h3 style="text-align: center;">    <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>DigiTalks Corporation &#169;2022</h3>